td,
th {
  vertical-align: middle !important;
}

.tag {
  width: 90%;
}

.button {
  width: 90%;
}

.ts-dropdown {
  z-index: 9999 !important;
}

.image-container {
  width: 50%;
  padding: 0pt;
  overflow: hidden;
  aspect-ratio: 1;
  position: relative;
  margin: 0pt;

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center top;
  }
}